.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

.radai {
  padding: 30px;
  flex-grow: 1; /* Take up remaining space for content */

  border: 3px dashed #eeeeee;
  /*
  color: #ff49f3;
  text-align: center;
  cursor: pointer;*/
  background-color: #fafafa;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000; 
  font-weight: bold;
}

.body {
  background-color: #363636;
}

.space {
  margin-bottom: 10px; /* Adjust the value as needed */
  width: 100%;
}

.container {
  background-color: #363636;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;

}

.content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar-wrapper {  
  flex-basis: 200px; /* 20% width for sidebar */
  overflow: hidden;
}

.banner {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.banner-text {
  color: white;
}
